<header>
  <nav class='navbar'>
    <ul class='nav navbar-nav'>
      <li><a [routerLink]="['/welcome']">Home</a></li>
      <li><a [routerLink]="['/stores']">Store List</a></li>
      <li><a [routerLink]="['/products']">Product List</a></li>
      <li><a id="about" (click)="openSnackBar()">About</a></li>
    </ul>
  </nav>
</header>

<section class='container main'>
  <router-outlet></router-outlet>

  <footer>
    <div class="footer">
      <p id="footerText">Angular4 Demo - Store Manager App v2.0.0 - rramadev.github.io &copy; 2017.</p>
    </div>
  </footer>
</section>
