<div class="panel panel-primary" *ngIf="product">
  <div class="panel-heading" style="font-size:large">
    {{pageTitle}}
    <md-progress-bar *ngIf="showBar" color="accent" mode="indeterminate"></md-progress-bar>
    <span *ngIf="updated" class="updated">
       {{updateMessage}}
      <span class="glyphicon glyphicon-ok-circle"></span>
    </span>
    <span *ngIf="deleted" class="deleted">
       {{deleteMessage}}
      <span class="glyphicon glyphicon-remove-circle"></span>
    </span>
  </div>

  <div class="panel-body">
    <md-card *ngIf="!deleted">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-3">Name:</div>
            <div class="col-md-6">{{product.productName}}</div>
          </div>
          <div class="row">
            <div class="col-md-3">Code:</div>
            <div class="col-md-6">{{product.productCode}}</div>
          </div>
          <div class="row">
            <div class="col-md-3">Description:</div>
            <div class="col-md-6">{{product.description}}</div>
          </div>
          <div class="row">
            <div class="col-md-3">Released:</div>
            <div class="col-md-6">{{product.releaseDate}}</div>
          </div>
          <div class="row">
            <div class="col-md-3">Price:</div>
            <div class="col-md-6">{{product.price|currency:'EUR':true:"1.2-2"}}</div>
          </div>
          <div class="row">
            <div class="col-md-3">Rating:</div>
            <div class="col-md-6">
              <sm-shared-rating
                [rating]="product.starRating" (ratingClicked)="onRatingClicked($event)">
              </sm-shared-rating>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <img class="center-block img-responsive" [style.width.px]="200" [style.margin.px]="2" [src]="product.imageUrl" [title]="product.productName">
        </div>
      </div>
    </md-card>
    <md-card class="md-card-buttons">
      <a class="btn btn-default" (click)="onBack()" style="width:80px">
        <i class="glyphicon glyphicon-chevron-left"></i> Back
      </a>
      <a class="btn btn-primary" style="width:80px" (click)="openDialog()" *ngIf="!deleted">
        <i class="glyphicon glyphicon-edit"></i> Edit
      </a>
      <a class="btn btn-danger" style="width:80px" (click)="deleteProduct(product.id)" *ngIf="!deleted">
        <i class="glyphicon glyphicon-remove"></i> Delete
      </a>
    </md-card>
  </div>
</div>
