<div class="panel panel-primary" (window:resize)="onResize($event.target.innerWidth)">
  <div class="panel-heading">
    {{pageTitle}} <span *ngIf="listFilter.length"> {{displayFilter()}}</span>
  </div>
  <div class="panel-body">
    <md-card>
      <div class="row">
        <div class="form-group col-md-4">
          <label for="sel1">Search:</label>
          <input id="sel1" type="text" class="form-control"
          [(ngModel)]="listFilter" [placeholder]="placeholderFilter" />
        </div>
      </div>
    </md-card>

    <md-card *ngIf="products && (
                    (!products.length) ||
                    ((products | productFilter:listFilter).length ===0)
                    )" class="results">
      <div class="row">
        <div class="col-md-12">
          <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
          No results found
        </div>
      </div>
    </md-card>

    <md-grid-list *ngIf="products && products.length" class="md-grid-list-product" [cols]="gridRows" [rowHeight]="gridRatio" gutterSize="15px"  >
      <md-grid-tile
        *ngFor="let product of products |
          productFilter:listFilter;
          let i = index"
        [colspan]="1"
        [rowspan]="1">

        <md-card mdCardBorder class="md-card-product" [routerLink]="['/products', product.id]">
          <img md-card-image id="product{{i}}" [src]="product.imageUrl" [title]="product.productName">
          <md-card-header>
            <md-card-title class="md-card-title-product">
              <md-chip-list>
                <md-chip color="primary" selected="true">
                  {{product.productName}}
                </md-chip>
                <md-chip color="accent" selected="false">
                  <b>{{ product.price | currency:"EUR":true:"1.2-2"}}</b>
                </md-chip>
              </md-chip-list>
            </md-card-title>
          </md-card-header>
          <md-card-content class="md-card-content-product">
            <sm-shared-rating
              [rating]="product.starRating" (ratingClicked)="onRatingClicked($event)">
            </sm-shared-rating>
            {{product.description}}
          </md-card-content>
        </md-card>

      </md-grid-tile>
    </md-grid-list>

    <!-- <div class="table-responsive">
      <table class="table" *ngIf="products && products.length">
        <thead>
          <tr>
            <th>
              <button class="btn btn-primary" (click)="toggleImage()">
                  {{showImage ? "Hide" : "Show"}} Image
              </button>
            </th>
            <th>Index</th>
            <th>Product</th>
            <th>Code</th>
            <th>Released</th>
            <th>Price</th>
            <th>User Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products |
                productFilter:listFilter;
                let i = index">
            <td>
              <img *ngIf="showImage" [src]="product.imageUrl" [title]="product.productName" [style.width.px]="imageWidth" [style.margin.px]="imageMargin">
            </td>
            <td>{{ i+1 }}</td>
            <td>
              <a [routerLink]="['/product', product.id]">
                  {{product.productName}}
              </a>
            </td>
            <td>{{ product.productCode | lowercase }}</td>
            <td>{{ product.releaseDate }}</td>
            <td>{{ product.price | currency:"EUR":true:"1.2-2"}}</td>
            <td>
              <sm-shared-rating
                [rating]="product.starRating" (ratingClicked)="onRatingClicked($event)">
              </sm-shared-rating>
            </td>
          </tr>
        </tbody>
      </table>
    </div>-->

  </div>
</div>
